.numberPage {
font-weight: bolder;

}

.numb {
border: white solid 1px;
    border-radius: 4px;
    font-size: 1em;
    margin-left: 5px;
    background-color: rgba(179, 202, 221, 0.74);
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

button {
    cursor: pointer;
}