.font-face-hr {
  font-family: "HelveticaRegular";
 }

 .font-face-ht {
  font-family: "HelveticaThin";
 }

.footer{
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 195px;
  background: #F2EEEE;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.03);  
}

.footer .footer-logo{
  display: flex;
  justify-content: space-between;
  margin: 2% 5% 0 5%;
}

.footer-logo .logo{
  width: 104.65px;
  height: 30.4px;
}

.footer .footer-txt{
  display: flex;
  justify-content: space-between;
  margin: 5% 5% 0 5%;
}

.footer .instagram {
  margin-left: 5px;
}


.footer .reserved{


font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 180%;
color: #100F0F;
}

.footer .policy{

font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 180%;

color: #100F0F;
}
@media (max-width: 700px){
  .footer{
    width: 100vw;
  }
}