.App {
  text-align: center;
  width: 1440px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}




.font-face-gm {
  font-family: "HelveticaRegular";
 }

 .font-face-gm {
  font-family: "HelveticaThin";
 }